<!-- <form>
    <input type="text" [(ngModel)]="exampleVariable" name="input"/>
</form>

<p>
    {{exampleVariable}}
</p>
   -->
<!--<p>home works!</p>-->

<!--two way binding-->

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let job of availableJobs">
                <div class="card mb-4">
                    {{job.title}}
                    <hr><br>
                    {{job.description}}
                    <hr><br>
                    {{job.startDate}}
                    <hr><br>
                    {{job.id}}
                    <hr><br>
                    {{job.numberOfPositions}}
                    <hr><br>
                </div>
            </div>
        </div>
    </div>
</div>